<% if policy(Like.new).create? %>
  <div class="dib">
    <% if like = current_user.liked(bookmark) %>
      <%= link_to [bookmark, like], class: 'b ph2 pv1 input-reset ba b--yellow yellow bg-transparent grow pointer f6 link', method: :delete do %>
        <i class="fa fa-star" aria-hidden="true"></i>&nbsp; Unlike
      <% end %>
    <% else %>
      <%= link_to [bookmark, Like.new], class: 'b ph2 pv1 input-reset ba b--black-40 black-40  bg-transparent grow pointer f6 link', method: :post do %>
        <i class="fa fa-star-o" aria-hidden="true"></i>&nbsp; Like
      <% end %>
    <% end %>
  </div>
<% end %>
